<!DOCTYPE html>
<html>

<head>

<title>Recipients</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="sidebar">

<div class="logo">
OrganCare
</div>

<a href="/">🏠 Home</a>
<a href="/dashboard">📊 Dashboard</a>
<a href="/donors">🫀 Donors</a>
<a href="/add_donor">➕ Add Donor</a>
<a href="/recipients">🧍 Recipients</a>
<a href="/hospitals">🏥 Hospitals</a>
<a href="/transplants">💉 Transplants</a>
<a href="/search">🔍 Search</a>
<a href="/matches">🤝 Matches</a>
<a href="/logout">🚪 Logout</a>

</div>

<div class="main-content">

<div class="topbar">

<h1 class="page-title">
Recipients
</h1>

</div>

<div class="content-panel">

<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>Age</th>
<th>Blood Group</th>
<th>Required Organ</th>
<th>Priority</th>
<th>City</th>
</tr>

{% for r in recipients %}

<tr>

<td>{{ r[0] }}</td>
<td>{{ r[1] }}</td>
<td>{{ r[2] }}</td>
<td>{{ r[3] }}</td>
<td>{{ r[4] }}</td>
<td>{{ r[5] }}</td>
<td>{{ r[6] }}</td>

</tr>

{% endfor %}

</table>

</div>

</div>

</body>
</html>