<!DOCTYPE html>
<html>

<head>

<title>Search Donors</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="sidebar">

<div class="logo">
OrganCare
</div>

<a href="/">🏠 Home</a>
<a href="/dashboard">📊 Dashboard</a>
<a href="/donors">🫀 Donors</a>
<a href="/add_donor">➕ Add Donor</a>
<a href="/recipients">🧍 Recipients</a>
<a href="/hospitals">🏥 Hospitals</a>
<a href="/transplants">💉 Transplants</a>
<a href="/search">🔍 Search</a>
<a href="/matches">🤝 Matches</a>
<a href="/logout">🚪 Logout</a>

</div>

<div class="main-content">

<div class="topbar">

<h1 class="page-title">
Search Donors
</h1>

</div>

<div class="content-panel">

<form method="POST">

<input type="text"
name="blood_group"
placeholder="Enter Blood Group (Example: A+)">

<button type="submit">
Search Donors
</button>

</form>

</div>

{% if donors %}

<div class="content-panel">

<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>Age</th>
<th>Blood Group</th>
<th>Organ</th>
<th>City</th>
</tr>

{% for donor in donors %}

<tr>

<td>{{ donor[0] }}</td>
<td>{{ donor[1] }}</td>
<td>{{ donor[2] }}</td>
<td>{{ donor[4] }}</td>
<td>{{ donor[5] }}</td>
<td>{{ donor[6] }}</td>

</tr>

{% endfor %}

</table>

</div>

{% endif %}

</div>

</body>
</html>